/ {
	servos {
		compatible = "pwm-servo";
		servo0: servo0 {
			pwms = <&pwm3 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			min-pulse = <PWM_USEC(800)>;
			max-pulse = <PWM_USEC(2200)>;
		};
	};

	aliases {
		servo0 = &servo0;
	};
};

&timers3 {
	status = "okay";
	st,prescaler = <10000>;

	pwm3: pwm3 {
		compatible = "st,stm32-pwm";
		status = "okay";
		#pwm-cells = <0x3>;
		pinctrl-0 = <&tim3_ch1_pa6>;
		pinctrl-names = "default";
	};
};
